*{
    margin: 5px;
    padding: 5px;
}
body{
    background-color: rgb(76, 112, 75);
    height: 100vh;
}
.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 7px;

.month{
    width: 200px;
    height: 190px;
    border-radius: 5px;
    background-color: rgb(205, 232, 204);
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: column;
    transition: 2s;

}
    .month p{

    font-size: 13px;
        font-weight: 400;
        margin: 4px;
}
    .month:hover{
        transform: scale(1.3);
        transition: 2s;
    }

span{
font-size: 17px;
font-weight: 600;
}
}




