*{
    margin: 0;
}

.wrapper{
    display: grid;
    height: 100vh;
    background-color: #7687A1;
    grid-template-columns: repeat(4, 300px);
    grid-template-rows: repeat(2, 300px);
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
}

.wrapper img{
    width: 250px;
}

