*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

section{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 40px;
}
section p{
    width: 90%;
}

#section-header{
    background-color: #e1a616;
}

#section-main{
    background-color: #9911ed;
}

#section-footer{
    background-color: lightgreen;
}

button{
    border: none;
    background-color: transparent;
}

button a{
    text-decoration: none;
    color: black;
    font-size: 25px;
}





