*{
    margin: 0;
    padding: 0;
}

.wrapper{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.font{
    background-color: lightseagreen;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 200px;
}


.kablammo-400 {
    font-family: "Kablammo", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
            "MORF" 0;
           }

.meie-script-regular {
    font-family: "Meie Script", cursive;
    font-weight: 400;
    font-style: normal;
}

.black-ops-one-regular {
    font-family: "Black Ops One", system-ui;
    font-weight: 400;
    font-style: normal;
}

.shadows-into-light-regular {
    font-family: "Shadows Into Light", cursive;
    font-weight: 400;
    font-style: normal;
}

.fontdiner-swanky-regular {
    font-family: "Fontdiner Swanky", serif;
    font-weight: 400;
    font-style: normal;
}
