@media screen and (max-width: 480px){
    .circle-left, .circle-right{
        display: none;
    }
    .page-404{
        padding: 0 16px;
    }
    .page-404 h2{
        color: rgba(255, 255, 255, 0.90);
        font-size: 110px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: -0.5px;
    }
    .page-404 h3{
        color: rgba(255, 255, 255, 0.90);
        font-size: 28px;
        font-style: normal;
        font-weight: 700;
        line-height: 120%; /* 33.6px */
        margin: 16px 0 8px 0;
    }
    .page-404 p{
        color: rgba(255, 255, 255, 0.75);
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%; /* 25.2px */
        width: 343px;
    }
    .page-404 div{
        flex-direction: column;
        margin-top: 24px;
        gap: 16px;
    }
    .page-404 div button:nth-child(1){
        display: flex;
        height: 64px;
        padding: 0 24px;
        justify-content: center;
        align-items: center;
        gap: 8px;
        align-self: stretch;
        border-radius: 32px;
        background: #6F1DF4;
        color: #FFF;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 120%; /* 19.2px */
    }
    .page-404 div button:nth-child(2){
        display: flex;
        height: 64px;
        padding: 0 24px;
        justify-content: center;
        align-items: center;
        gap: 8px;
        align-self: stretch;
        border-radius: 32px;
        background: #FFF;
        color: #000;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 120%; /* 19.2px */
    }
}
